/* Write your code here. */
.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 8px;
}

.title-with-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .logo-img {
    height: 60px;
    width: 60px;
  }
}

.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.score-container {
  display: flex;
  margin-left: 180px;
  flex-wrap: wrap;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
